<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/listaEstudiantes.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <title>Formulario Estudiante</title>
</head>

<body>

    <div class="container" id="myApp">
        <header>
            <h1> Estudiante </h1>

        </header>
        <nav></nav>
        <section>
            <form class="form" >
                <h2>Nuevo Estudiante</h2>
                <p type="Nombre:">
                    <input id="idNombre" type="text" v-model="nombre" @keypress="presionandoTecla">
                </p>
              
                <p type="Apellido:">
                    <input id="idApellido" type="text" v-model="apellido" @keypress="presionandoTecla">
                </p>
                
                <p type="Cédula:">
                    <input id="idCédula" type="text" v-model="cedula" @keypress="presionandoTecla">
                </p>
                <p type="Género:">
                    <input id="idGenero" type="text" v-model="genero" @keypress="presionandoTecla">
                </p>
                <p type="Edad:">
                    <input id="idEdad" type="text" v-model="edad" @keypress="presionandoTecla">
                </p>
                <button v-on:click.prevent="agregarEstudiante">Guardar</button>
            </form>
            <table class="custom-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Genero</th>
                    <th>Edad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-show="nombre!==''" v-for="({nombre,apellido,cedula,genero,edad},index) in lista">
                    <p v-show="nombre!==''"><td>{{index+1}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{cedula}}</td>
                    <td>{{genero}}</td>
                    <td>{{edad}}</td>
                    <td><button>Editar</button></td>
                </p>
                    
                    
                  </tr>
                </tbody>
              </table>
              <!-- {{lista}} -->
            
    </div>
    </section>
    <footer>
        <script src="../js/listaEstudiantes.js"></script>
    </footer>
</body>

</html>